#drawCanvas {
	background-color:#eee; 
	border: 1px solid #ccc; 
	margin:10px;
}

.content {
	width: 1000px;
	margin: 0 auto;
	background: #CEF6F5;
}

.colorPicker {
	width: 50px;
	height: 50px;
	margin: 10px;
	border: 1px solid black;
	float: left;
}

.canvas {
	float: left;
}

.canvasAndColors {
	height: 650px; 
}

#brush {
	background-color:#eee; 
	border: 1px solid #ccc;
	float: left;
	margin-bottom: 10px;
}

.brushWidth {
	display: flex;
	width: 100%;
}

.scroller {
	float: left;
	margin: 20px 50px 0 100px;
}

input[type=button], input[type=submit] {
	color: white;
	background-color: #3f5c9b;
	border: none;
	font-size: inherit;
	width: 150px;
	height: 30px;
	margin: 15px 0 0 30px;
	border-radius: 5px;
}

/* Colors for brash */
.red { background: red; }
.black { background: black; } 
.yellow { background: yellow; }
.orange { background: orange; }
.pink { background: pink; }
.grey { background: grey; }
.white { background: white; }
.blue { background: blue; }
.lightBlue { background: lightBlue; }
.brown { background: brown; }
.lime { background: lime; }
.silver { background: silver; }
.navajowhite { background: navajowhite; }
.green { background: green; }
.turquoise { background: turquoise; }
.deepskyblue { background: deepskyblue; }